*{
    margin: 0;
    padding: 0;
}


header{
    margin: 40px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

header h1{
    margin-bottom: 10px;
    font-size: 50px;
    color: rgb(249, 7, 104);
    font-weight: bold;
}

header h2{
    font-weight: lighter;
    color: gray;
}

#sessaoPerguntas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.pergunta{
    background-color: rgb(194, 194, 194);
    box-shadow: 2px 2px 2px grey;
    width: 800px;
    height: 60px;
    margin: 15px 0px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.pergunta:hover {
    border: 3px solid grey;
    box-shadow: none;
}

.pergunta p{
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#ordem{
    width: 100%;
    text-align: center;
}